{% extends 'main_base.html' %}

{% block content %}
<div class="wrapper">
  <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- Remove the .animated class if you don't want things to move -->
          <h1 class="animated slideInLeft"><span>Events</span></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div id="infinite-scroll" class="timeline-block">
          {% if events.items %}
            {% for event in events.items %}
              <div class="blog-summary">
                <h4><a href="{{ url_for('.view_event', event_id=event.id) }}">{{ event.name }}</a></h4>
                <time datetime="{{ event.date }}" class="timestamp hidden-xs">{{ event.format_date() }}</time>
                <ul class="text-muted list-inline">
                  <li><i class="fa fa-map-marker"></i> {{ event.location or 'No Location' }}</li>
                  <li><i class="fa fa-user"></i> {{ event.e_type.name }}</li>
                  <li><i class="fa fa-calendar"></i> {{ event.format_date('%B %d, %Y') }}</li>
                </ul>
                <hr>
                <div style="min-height:200px">
                  <p class="blog-text">
                    <img class="pull-{{ 'left' if loop.index % 2 == 0 else 'right' }} img-responsive blog-img" alt="{{ event.cover_image.name }}" src="{{ event.cover_image.path }}">
                    {{ event.description }}
                  </p>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="blog-summary">
              <h4>No Events</h4>
            </div>
          {% endif %}
        </div>
        {% if events.has_next %}
          <nav id="page_nav">
            <a href="{{ url_for('.list_events', page=events.next_num) }}"></a>
          </nav>
        {% endif %}
      </div>
      <div class="col-sm-4">
        <!-- Archive -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Archive</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <!-- Years -->
                <ul class="nav nav-pills nav-stacked">
                  <li class="{{ 'active' if not request_year else '' }}"><a href="{{ url_for('events.list_events') }}">All</a></li>
                  {% for year in archive.keys() %}
                    <li class="{{ 'active' if year == request_year else '' }}"><a href="#{{ year }}" data-toggle="tab">{{ year }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <!-- Months -->
                <div class="tab-content blog-months">
                  {% for year, months in archive.iteritems() %}
                    <div class="tab-pane {{ 'active' if year == request_year else '' }}" id="{{ year }}">
                      <ul class="nav nav-pills nav-stacked pull-left">
                        {% for month, month_stats in months.iteritems() %}
                          {% if loop.index == 7 %}
                            </ul>
                            <ul class="nav nav-pills nav-stacked pull-left">
                          {% endif %}
                          <li class="{{ 'active' if month == request_month and year == request_year else '' }}"><a href="{{ url_for('events.list_events', year=year, month=month) }}">{{ month_stats[0] }} <span class="badge">{{ month_stats[1] }}</span></a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/jquery.infinitescroll.min.js') }}"></script>

  <script>
    $(function(){

      $('#infinite-scroll').infinitescroll({
        navSelector: '#page_nav',
        nextSelector: '#page_nav a',
        itemSelector: '.blog-summary',
        loading: {
            finishedMsg: 'No more events to load.',
            img: 'http://i.imgur.com/qkKy8.gif'
          }
        }
      );

    });

  </script>
{% endblock scripts %}