{% extends 'main_base.html' %}

{% block content %}
<div class="wrapper">
  <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- Remove the .animated class if you don't want things to move -->
          <h1 class="animated slideInLeft"><span>{{ event.name }}</span></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-9">
        <div class="gallery-show">
          <!-- Image Carousel -->
          <div id="gallery-carousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              {% for image in event.gallery_images() %}
                <div class="item {{ 'active' if loop.index == 1 else '' }}">
                  <img src="{{ image.path }}" class="img-responsive" alt="{{ image.name }}">
                </div>
              {% endfor %}
            </div>
            <!-- Controls -->
            <a class="carousel-arrow carousel-arrow-prev" href="#gallery-carousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-arrow carousel-arrow-next" href="#gallery-carousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>

        {% if event.bpt_id and event.is_upcoming() %}
          <hr />
          <link rel="stylesheet" type="text/css" href="http://www.brownpapertickets.com/widget_v651.css" /> <DIV ID="bpt_eventbody"><CENTER><BR><BR>Brown Paper Tickets Ticket Widget Loading...<BR><BR><A HREF="http://www.brownpapertickets.com/event/{{ event.bpt_id }}">Click Here</A> to visit the Brown Paper Tickets event page.</CENTER><BR><BR></DIV> <script src="http://www.brownpapertickets.com/eventwidget.js?event={{ event.bpt_id }}&nodescription=1" type="text/javascript" language="javascript"></script> <script src="http://www.brownpapertickets.com/widget_v651.js?event={{ event.bpt_id }}" type="text/javascript" language="javascript"></script>
        {% endif %}

        <!-- New comment form -->
        <div class="new-comment">
          <div id="disqus_thread"></div>
          <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES * * */
              var disqus_shortname = 'foodunderground';
              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <h3>{{ event.name }}</h3>
        <p>{{ event.description }}</p>
        <hr>
        <h4>{{ event.format_date() }}</h4>
        <hr>
        <h4>Similar Events</h4>
        <ul class="row list-inline gallery-list-small">
          {% for similar_event in event.get_similar_events() %}
            <li class="col-xs-3">
              <a href="{{ url_for('.view_event', event_id=similar_event.id) }}">
                <img class="img-responsive" src="{{ similar_event.cover_image.path }}" alt="{{ similar_event.cover_image.name }}">
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}