{% extends 'main_base.html' %}

{% block styles %}
  <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css' />
  <style>
    .loader{
      l: absolute;
      top: 50%;
      left: 50%;
      margin-left: 200px;
      margin-top: 50px;
      background-size: contain;
      height: 50px;
      width: 50px;
      animation:  elastic-rotation 1.33s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url(http://images.clipartpanda.com/carrot-20clipart-carrots2.png);
    }

    @keyframes elastic-rotation {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }

    .load-text {
      margin-top:50px;
      margin-left:145px;
      color: #FF9933;
      font-size: 30px;
      font-family: 'Dancing Script';
    }

    .elips {
      color: #33CC33;
    }

    .one {
        opacity: 0;
        -webkit-animation: dot 1.3s infinite;
        -webkit-animation-delay: 0.0s;
        animation: dot 1.3s infinite;
        animation-delay: 0.0s;
    }

    .two {
        opacity: 0;
        -webkit-animation: dot 1.3s infinite;
        -webkit-animation-delay: 0.2s;
          animation: dot 1.3s infinite;
          animation-delay: 0.2s;
    }

    .three {
        opacity: 0;
        -webkit-animation: dot 1.3s infinite;
        -webkit-animation-delay: 0.3s;
         animation: dot 1.3s infinite;
         animation-delay: 0.3s;
    }

    @-webkit-keyframes dot {
          0% { opacity: 0; }
         50% { opacity: 0; }
        100% { opacity: 1; }
    }

    @keyframes dot {
          0% { opacity: 0; }
         50% { opacity: 0; }
        100% { opacity: 1; }
    }
  </style>
{% endblock styles %}

{% block content %}
  <div id="content-wrapper" class="wrapper">

    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Gallery</span></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="btn-group gallery__nav" id="filters">
            <a href="#" class="btn btn-default" data-filter="*">All</a>
            {% for event_type in event_types %}
              <a href="#" class="btn btn-default" data-filter="{{ event_type.data_filter }}"><span class="hidden-xs">{{ event_type.name }}</span></a>
            {% endfor %}
          </div>
        </div>
      </div> <!-- / .row -->

        <div class="row list-inline gallery-list infinite-scroll" id="isotope-container">

          {% for image in images.items %}
            <div class="col-sm-4 col-md-3 isotope-item {{ image.data_filters() }}">
              <div class="gallery__item">
                <a href="{{ url_for('.gallery_item', image_id=image.id) }}">
                  <div class="gallery-thumbnail">
                    <img class="img-responsive gallery-img" src="{{ image.small_path }}" alt="{{ image.name }}">
                  </div>
                  <div class="gallery-text">
                    <div class="gallery-title">{{ image.name }}</div>
                    {{ image.description }}
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}

        </div> <!-- / .row -->

        {% if images.has_next %}
          <nav id="page_nav">
            <a href="{{ url_for('gallery.gallery_page', page=images.next_num) }}"></a>
          </nav>
        {% endif %}

    </div>

  <!-- <div class="loader"></div> -->
  <!-- <p class="load-text"><span class="one elips">.</span><span class="two elips">.</span><span class="three elips">.</span> Loading <span class="one elips">.</span><span class="two elips">.</span><span class="three elips">.</span></p> -->


    </div> <!-- / .container -->
  </div> <!-- / .wrapper -->
{% endblock content %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.infinitescroll.min.js') }}"></script>

  <script>

    // $("#isotope-container").load("{{ url_for('gallery.gallery_page', page=images.next_num) }}",function(){
    //    $(this).fadeIn();
    // });

    $(function(){
      var $container = $('#isotope-container').imagesLoaded(function() {
        $container.isotope({
          itemSelector: '.isotope-item',
          layoutMode: 'fitRows'
        });
      });

      // filter items on button click
      $('#filters a').on('click', function() {
        var filterValue = $(this).attr('data-filter');
        $container.isotope({ filter: filterValue });
        return false;
      });

      $container.infinitescroll({
        navSelector: '#page_nav',
        nextSelector: '#page_nav a',
        itemSelector: '.isotope-item',
        loading: {
            finishedMsg: 'No more pages to load.',
            img: 'http://i.imgur.com/qkKy8.gif'
          }
        },
        // call Isotope as a callback
        function(newElements) {
          $container.isotope('appended', $(newElements));
          $container.imagesLoaded().progress( function() {
            $container.isotope('layout');
          });
        }
      );

    });

  </script>
{% endblock scripts %}