{% extends 'main_base.html' %}

{% block content %}
<div class="wrapper">
  <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- Remove the .animated class if you don't want things to move -->
          <h1 class="animated slideInLeft"><span>{{ image.name }}</span></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-9">
        <div class="gallery-show">
          <div class="item active">
            <img src="{{ image.path }}" class="img-responsive" alt="...">
          </div>
        </div>
        <!-- New comment form -->
        <div class="new-comment">
          <div id="disqus_thread"></div>
          <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES * * */
              var disqus_shortname = 'foodunderground';
              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <h3>{{ image.name }}</h3>
        <p>{{ image.description }}</p>
        <hr>
        <h4>Similar Images</h4>
        <ul class="row list-inline gallery-list-small">
          {% for similar_image in image.get_similar_images() %}
            <li class="col-xs-3">
              <a href="{{ url_for('.gallery_item', image_id=similar_image.id) }}">
                <img class="img-responsive" src="{{ similar_image.path }}" alt="{{ similar_image.name }}">
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}