{% for image in images.items %}
  <div class="col-sm-4 col-md-3 isotope-item {{ image.data_filters() }}">
    <div class="gallery__item">
      <a href="{{ url_for('.gallery_item', image_id=image.id) }}">
        <div class="gallery-thumbnail">
          <img class="img-responsive gallery-img" src="{{ image.path }}" alt="{{ image.name }}">
        </div>
        <div class="gallery-text">
          <div class="gallery-title">{{ image.name }}</div>
          {{ image.description }}
        </div>
      </a>
    </div>
  </div>
{% endfor %}