{% extends 'main_base.html' %}

{% block content %}
<div class="wrapper">
  <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Remove the .animated class if you don't want things to move -->
          <h1 class="animated slideInLeft"><span>Contact Us</span></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- Contact us form -->
      <div class="col-sm-8">
        <h2 class="hl top-zero">Contact Us</h2>
        <hr>
        <p>Have any questions or comments? Feel free drop us a line.</p>
        <!-- Alert message -->
        <div class="alert" id="form_message" role="alert"></div>
        <!-- Please carefully read the README.txt file in order to setup
             the PHP contact form properly -->
        <form role="form" id="form_sendemail" method="POST" action="{{ url_for('email.send_message') }}">
          <div class="form-group">
            <label for="email">Your email address</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="E-mail" data-original-title="" title="">
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="name">Your name</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Full Name" data-original-title="" title="">
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="message">Your message</label>
            <textarea name="message" class="form-control" rows="3" id="message" placeholder="Message"></textarea>
            <span class="help-block"></span>
          </div>
          <button type="submit" class="btn btn-dark">Contact Us</button>
        </form>
      </div>
      <!-- Right column -->
      <div class="col-sm-4">
        <!-- Out Info -->
        <h4>Our Info</h4>
        <hr>
        <p>
          Phone: (267) 713-2662<br />
          Email: <a href="#">info@foodunderground.net</a>
        </p>
        <hr>
      </div>
    </div>
  </div>
</div>
{% endblock content %}