{% extends 'main_base.html' %}

{% block styles %}
  <link href="{{ url_for('static', filename='css/custom/services.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}
  <div class="wrapper">
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Services - Cook's Canvas</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="hl text-center top-zero">Cook's Canvas</h1>
          <p class="lead text-center">
            Restaurant work is hard work. Just ask any cook about their long, demanding hours and grueling work week. But it's during that time when a cook is exposed to myriad ingredients, techniques, and styles - stimulating their creative minds. Though, most never get the chance to implement all those ideas or to execute their culinary visions. Cooks' Canvas showcases such line cooks of great promise, affording them the opportunity to realize their imaginations by providing an audience to feed. In turn, the guests then feed these young cooks' futures. This all happens in tandem with the Food Underground staff. We facilitate the framework in which dream becomes reality, connecting these aspiring artists and their patrons.
            <br /><br />
            Click <a href="{{ url_for('events.list_events') }}">here</a> to see upcoming cooks canvas events.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="about-btn">
            <a class="btn btn-default" href="{{ url_for('general.services') }}">Back to Services</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}