{% extends 'main_base.html' %}

{% block content %}
<div class="wrapper">
  <div id="wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h1 class="animated slideInDown">Food Underground</h1>
          <div class="list">
            <ul>
              <li class="animated slideInLeft first delay fancy">A tasteful blend of food and writing</span></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 hidden-sm hidden-xs">
          <div class="showcase">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Pen and Knife" class="penAndKnife animated fadeInDown">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">

      <!-- UPCOMING -->
      <div class="col-md-4">
        <div class="block-header">
          <h2>
            <span class="title">Upcoming Public Events</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
          </h2>
        </div>
        <div class="tab-content">
          {% if upcoming_events %}
            {% for event in upcoming_events %}
              <h5><a href="{{ url_for('events.view_event', event_id=event.id) }}">{{ event.name }}</a> <small>{{ event.date }}</small></h5>
              {% if event.description %}
                <p class="text-muted"><small>{{ event.description }}</small></p>
              {% endif %}
              {% if event.location %}
                <p class="text-muted"><i class="fa fa-map-marker"></i> {{ event.location }}</p>
              {% endif %}
              <hr>
            {% endfor %}
          {% else %}
            <h5>No upcoming events.</h5>
          {% endif %}
        </div>
      </div>

      <!-- RECENT EVENTS -->
      <div class="col-md-8">
        <div class="block-header">
          <h2>
            <span class="title">Recent Events</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
          </h2>
        </div>

        {% for event_group in recent_events %}
          <div class="row">
            {% for recent_event in event_group %}
            <div class="col-md-6 col-sm-6">
              <div class="thumbnail">
                <img src="{{ recent_event.cover_image.path }}" class="img-responsive" alt="{{ recent_event.cover_image.name }}">
                <div class="visit"><a href="{{ url_for('events.view_event', event_id=recent_event.id) }}"><i class="fa fa-question-circle"></i> More details...</a></div>
                <div class="caption">
                  <h4>{{ recent_event.name }}</h4>
                  <p>{{ recent_event.description }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        {% endfor %}

      </div>

    </div>

    <!-- ABOUT -->
    <div class="row">
      <div class="col-md-12 block-header">
        <h2>
          <span class="title">About Food Underground</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
        </h2>
        <p>Food Underground is plated dinners for those special occasions that demand elegance and sophistication. It is family style meals to celebrate the people and moments that make up your life. It is supporting the next generation of great chefs, who have yet to step off the line and into their futures. And, it is the written word, telling the story of our culinary experience and beyond.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 block-header">
        <h2>
          <span class="title"><a href="http://instagram.com/foodunderground" target="_blank">@foodunderground</a> on Instagram</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 block-header">
         <div id="instafeed">
          <ul class="instalist"></ul>
         </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/spectagram.js') }}"></script>
<script type="text/javascript">
  jQuery.fn.spectragram.accessData = {
      accessToken: '823477839.89236a7.692bb233be3f43c9a7bc3ce86774c69f',
      clientID: '89236a75c789466ca02796fdf954914d'
  };
  $('#instafeed .instalist').spectragram('getRecentMedia', {
      user_id: '823477839',
      size: 'small',
      max: 21
  });
</script>
{% endblock scripts %}