{% extends 'main_base.html' %}

{% block styles %}
  <link href="{{ url_for('static', filename='css/custom/services.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}
  <div class="wrapper">
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Services - Restaurant Experience</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="hl text-center top-zero fancy">Restaurant Experience</h1>
          <p class="lead text-center">
            There are times when a celebration calls for elegance in food, atmosphere, and detail. Food Underground brings this to you. Be it in your home or at your special venue of choice, Food Underground is the restaurant experience custom tailored to your unique occasion. We bring an array of seasonal products – including produce, meat, seafood, and fish – with creative and beautiful presentation. We set your table with our plates and flatware, on our linens. And just as our chef plates your meal with an eye for detail and beauty, our professional server tends to your needs tableside.
          <br /><br />
            These are three signature menus that provide a Food Underground culinary experience.  We can also modify these menus to match your tastes or create a unique menu from scratch designed to compliment the occasion.  All you have to do is ask!
          </p>
          <br />
        </div>
      </div>
       <div class="row pricing">
        <div class="col-sm-4">
          <!-- Remove .animated .fadeInDown .first classes if you don't want item to move -->
          <div class="item animated fadeInDown first">
            <div class="head" style="margin-bottom:10px">
              <h4 class="fancy">A Walk Around Philly</h4>
            </div>
            <div class="sceleton">
            <ul>
              {% filter title %}
                <li><strong> Cocoa Nib Scrapple</strong><br /><em> Housemade pretzel | Quail egg | Coffee maple</em></li>
                <li><strong> Vietnamese Pork Roll Tamale</strong><br /><em> Pickled carrots and radish | Spicy cucumber</em></li>
                <li><strong> Italian "Hoagie"</strong><br /><em> Heirloom tomato | Fried oregano | Basil oil | Pepperoni | Long hot relish | Provolone chips</em></li>
                <li><strong> African Chicken</strong><br /><em> Couscous | Date vinaigrette | Stone fruit</em></li>
                <li><strong> broccoli rabe gnocchi</strong><br /><em> pork scallopini | lemon and sage butter</em></li>
                <li><strong> flight of water ice</strong><br /><em> cilantro vanilla | anise and almond | chocolate and chili</em></li>
              {% endfilter %}
            </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="item animated fadeInDown second">
            <div class="head" style="margin-bottom:10px">
              <h4 class="fancy">Tel Aviv Story Tellers</h4>
            </div>
            <div class="sceleton">
            <ul>
              {% filter title %}
                <li><strong> housemade pretzel bite</strong><br /><em> roasted cherry tomato | seared haloumi | pepperoni</em></li>
                <li><strong> watermelon and raw shrimp</strong><br /><em> arak | mint | preserved lemon | bird chili schug</em></li>
                <li><strong> cured sardine bruschetta</strong><br /><em> olives | pistachio | purslane | Bulgarian feta stuffed long hot</em></li>
                <li><strong> sabih gyuniku</strong><br /><em> Arabic salad | mint tahina | crispy potatoes | Iraqi egg</em></li>
                <li><strong> chicken hearts and lamb fat</strong><br /><em> green hummus | fresh laffa | grapes</em></li>
                <li><strong> Tel Aviv nights</strong><br /><em> matcha green tea semolina | jasmine creme</em></li>
              {% endfilter %}
            </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="item animated fadeInDown third">
            <div class="head" style="margin-bottom:10px">
              <h4 class="fancy">Food Underground Classics</h4>
            </div>
            <div class="sceleton">
            <ul>
              {% filter title %}
                <li><strong> cured mussels</strong><br /><em> bruschetta | cured egg yolk | arugula pesto</em></li>
                <li><strong> caprese</strong><br /><em> fresh burrata | tomato water | basil noodles | tomato jam</em></li>
                <li><strong> beer bread french toast</strong><br /><em> duck breast | quail’s egg | crispy leeks | mustard gastrique</em></li>
                <li><strong> Russian Pasta</strong><br /><em> cured fish | chive pasta | dill oil | parsley leaf | charred fennel</em></li>
                <li><strong> homemade mint ice cream</strong><br /><em> brownie crumble | delicate almond cookie | fresh fruit</em></li>
              {% endfilter %}
            </ul>
            </div>
          </div>
        </div>
      </div>

      <br /><br />

      <div class="row">
        <div class="col-md-12">
          <p class="lead text-center">
            Click <a href="{{ url_for('general.contact') }}">here</a> to contact us to bring the restaurant experience to you!
          </p>
          <br />
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="about-btn">
            <a class="btn btn-default" href="{{ url_for('general.services') }}">Back to Services</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}