{% extends 'main_base.html' %}

{% block styles %}
  <link href="{{ url_for('static', filename='css/custom/services.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}
  <div class="wrapper">
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Services - Pop Ups</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="hl text-center top-zero">Pop Up Events</h1>
          <p class="lead text-center">
            Here at Food Underground we like to cook.  A lot.  This passion provides us a unique opportunity to showcase our food in many different and exciting venues around the city.  The best part is that these events are all public so that means you can easily immerse yourself in the Food Underground experience!  All you need to do is stay in touch.  The best way to do that?  By clicking <a class="subscribe-link" href="#">here</a> to sign up for the monthly mailing list or <a href="{{ url_for('events.list_events') }}">here</a> to see a list of upcoming events.
          </p>
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="about-btn">
            <a class="btn btn-default" href="{{ url_for('general.services') }}">Back to Services</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}