{% extends 'main_base.html' %}

{% block styles %}
  <link href="{{ url_for('static', filename='css/custom/services.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<div class="wrapper">
  <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- Remove the .animated class if you don't want things to move -->
          <h1 class="animated slideInLeft"><span>Services</span></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <a href="{{ url_for('.services_plated_dinners') }}" >
                <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/services/rest_exp.jpg') }}" alt="">
              </a>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <a href="{{ url_for('.services_plated_dinners') }}" ><h4 class="fancy">Restaurant Experience</h4></a>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Anniversaries, birthdays, momentous life-cycle events, or just a Tuesday worth noting, Food Underground provides a culinary experience to compliment any such occasion. With a menu custom tailored to fit the taste and desire of the moment, we provide multi-course meals, bringing the experience of a fine-dining restaurant into the privacy and intimacy of your own home. A suitable experience for two to 25 guests, this is a great way to celebrate or surprise the people that mean most in your life. Gift certificates are available and are a superb gift - from an individual or a group - to express your jois de vive.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <a href="{{ url_for('.services_workshops') }}" >
                <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/services/hands_on.jpg') }}"  alt="">
              </a>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <a href="{{ url_for('.services_workshops') }}" ><h4 class="fancy">Hands-on Workshops</h4></a>
              </div>
              <div class="timeline-body">
                <p class="text-muted">One of the most exciting aspects we encounter is the curiosity and desire to learn how we transform the ingredients from the market into the food on your plate. We want to show you how it’s done! Be it the tactile joy of forming perfect pasta dough, rolling it out, and crafting handmade ravioli to a multi-day course of brining that brisket and cooking it to corned beef perfection or how to smoke a fish at home, let’s make a social event of the process that goes from workshop to dinner.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <a href="{{ url_for('.services_cooks_canvas') }}" >
                <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/services/canvas.jpg') }}" alt="">
              </a>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <a href="{{ url_for('.services_cooks_canvas') }}" ><h4 class="fancy">Cook’s Canvas</h4></a>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Cooks' Canvas showcases such line cooks of great promise, affording them the opportunity to realize their imaginations by providing an audience to feed. In turn, the guests then feed these young cooks' futures. This all happens in tandem with the Food Underground staff. We facilitate the framework in which dream becomes reality, connecting these aspiring artists and their patrons.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <a href="{{ url_for('.services_popup_events') }}" >
                <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/services/garage.jpg') }}" alt="">
              </a>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <a href="{{ url_for('.services_popup_events') }}" ><h4 class="fancy">Pop-Up Events</h4></a>
              </div>
              <div class="timeline-body">
                <p class="text-muted">You can also come to us! We love to cook and do so at every opportunity. Food Underground appears in the food cart at Garage to the test kitchen at Reading Terminal Market and every other place in between.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="about-btn">
          <a class="btn btn-default" href="{{ url_for('.team') }}">Our Team</a> <a class="btn btn-default" href="{{ url_for('.contact') }}">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}