{% extends 'main_base.html' %}

{% block content %}
<div class="wrapper">
  <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!-- Remove the .animated class if you don't want things to move -->
          <h1 class="animated slideInLeft"><span>Our Team</span></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="hl text-center top-zero">The Dream Team</h1>
        <p class="lead text-center">Who's in the kitchen?</p>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="team">
          <div class="member-left">
            <img src="{{ url_for('static', filename='img/team/oates.jpg') }}" alt="Team Member" class="left">
            <h4>Ari Miller</h4>
            <p>Ari’s culinary roots began during a decade spent living in Israel. Following much time spent as the dining reviewer for The Jerusalem Post, he transitioned into the professional kitchen by way of a tiny, little deli connected to Tel Aviv’s The Basta. Following, he moved to the legendary kitchen at The Minzar, Tel Aviv’s legendary 24-hour bar, where he learned food preparation from Eastern European classics (sausages, pickling, fermenting), to North African cuisine (whole animal use), and Middle Eastern standards (hummus, spices, salads). Ari then went on to work for Chef Rima Olvera, serving as opening line cook and then as her first sous chef at Chef Olvera’s Oasis.</p>
            <p>Back in America, Ari first worked at the Philadelphia main-stay Percy St BBQ before heading to the line at High Street on Market.</p>
          </div>
          <div class="member-right">
            <img src="{{ url_for('static', filename='img/team/daryl_hall.jpg') }}" alt="Team Member" class="right">
            <h4>Gary Burner</h4>
            <p>Gary’s love for food compelled him to leave behind a life as full-time banker to become Food Underground's business manager. This role combines his expertise and his passion, where he plays with excel and knives just the same. A native Pittsburgh and Penn State alumnus, Gary calls Philly home, in no small part due to the city's exemplary culinary scene.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="about-btn">
          <a class="btn btn-default" href="{{ url_for('.services') }}">Our Company</a> <a class="btn btn-default" href="{{ url_for('.contact') }}">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}