{% extends 'main_base.html' %}

{% block styles %}
  <link href="{{ url_for('static', filename='css/custom/services.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/tooltipster.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}
  <div class="wrapper">
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!-- Remove the .animated class if you don't want things to move -->
            <h1 class="animated slideInLeft"><span>Services - Workshops</span></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="hl text-center top-zero fancy">Hands On Workshops</h1>
          <p class="lead text-center">
            Want to sharpen your chops in the kitchen?  Food Underground has you covered.  Have us over to get a hands on cooking experience where you will surely pick up some new tricks and technique.  Whether you’re just learning to hold a knife, or you want to perfect your brunoise we can help!  Take a look at our classes below.  If you dont see anything that fits your needs, be in touch and we’ll cook something up, customized just for you.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="services">
            <div class="services__item quarter_service">
              <div id="tip-1" class="services-item__body tooltipster">
                <i class="services-item__icon fa flaticon-sprig2 fa-3x"></i>
                <div class="services-item__content">
                  <p class="services-item__caption fancy">Pasta Basics</p>
                </div>
              </div>
            </div>
            <div class="services__item quarter_service">
              <div id="tip-2" class="services-item__body tooltipster">
                <i class="services-item__icon fa flaticon-spaghetti3 fa-3x"></i>
                <div class="services-item__content">
                  <p class="services-item__caption fancy">Advanced Pasta</p>
                </div>
              </div>
            </div>
            <div class="services__item quarter_service">
              <div id="tip-3" class="services-item__body tooltipster">
                <i class="services-item__icon fa flaticon-spaghetti1 fa-3x"></i>
                <div class="services-item__content">
                  <p class="services-item__caption fancy">Pasta: Crazy</p>
                </div>
              </div>
            </div>
            <div class="services__item quarter_service">
              <div id="tip-4" class="services-item__body tooltipster">
                <i class="services-item__icon fa flaticon-salad fa-3x"></i>
                <div class="services-item__content">
                  <p class="services-item__caption fancy">Mezze</p>
                  <p class="services-item__link">The Staples</a>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div> <!-- / .services -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="services">
            <div class="services__item quarter_service">
              <div id="tip-5" class="services-item__body tooltipster">
                <i class="services-item__icon fa flaticon-cooking37 fa-3x"></i>
                <div class="services-item__content">
                  <p class="services-item__caption fancy">Tailgating</p>
                  <p class="services-item__link">Next Level</p>
                </div>
              </div>
            </div>
            <div class="services__item quarter_service">
              <div id="tip-6" class="services-item__body tooltipster">
                <i class="services-item__icon fa flaticon-turkey7 fa-3x"></i>
                <div class="services-item__content">
                  <p class="services-item__caption fancy">Tailgating II</p>
                  <p class="services-item__link">Next Next Level</p>
                </div>
              </div>
            </div>
            <div class="services__item quarter_service">
              <div id="tip-7" class="services-item__body tooltipster">
                <i class="services-item__icon fa flaticon-icecreams14 fa-3x"></i>
                <div class="services-item__content">
                  <p class="services-item__caption fancy">Ice Cream</p>
                  <p class="services-item__link">And Pretzels!</p>
                </div>
              </div>
            </div>
            <div class="services__item quarter_service">
              <div id="tip-8" class="services-item__body tooltipster">
                <i class="services-item__icon fa flaticon-wine47 fa-3x"></i>
                <div class="services-item__content">
                  <p class="services-item__caption fancy">Market to Table</p>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div> <!-- / .services -->
        </div>
      </div>

      <br /><br />
      <div class="row">
        <div class="col-md-12">
          <p class="lead text-center">
              Unless otherwise noted all classes will last for 2 hours. One on one classes are $200 / class plus $75 / hour.
              Each additional participant is $75. All classes can be taught in group format.
              <br /><br />
              Don’t see what you’re looking for?
              Just let us know and we’ll design something custom
              fit for your needs. Additional food costs and travel fees may apply.
              <br /><br />
              Click <a href="{{ url_for('general.contact') }}">here</a> to tell us more and schedule a class.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="about-btn">
            <a class="btn btn-default" href="{{ url_for('general.services') }}">Back to Services</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script type="text/javascript" src="{{  url_for('static', filename='js/jquery.tooltipster.min.js') }}"></script>
  <script>
    $(document).ready(function() {

      $('.tooltipster').tooltipster({
          maxWidth: 500
      });

      // Probably not the best way to do this but whatever
      $('#tip-1').tooltipster('content', $("<div style='text-align:center'>In this class our chef teaches you how to make perfect egg pasta dough. This provides you with the platform to make hundreds of different pastas, from farfalle to garganelli and even lorighittas! We then finish the class with our pasta two ways – learning to make a classic and versatile butter sauce and a hearty, seasonal ragu. You now have a whole arsenal of meals that will impress as much as they will sate.</div>"));
      $('#tip-2').tooltipster('content', $("<div style='text-align:center'>Here, our chef builds off the basic egg dough, with some cool twists. First, learn the impressive technique of lamination, using fresh herbs and flowers to beautiful effect. Then, using the laminated sheets, we make filled pastas (tortellini, ravioli, caramelle, agnilotti, etc.) using filling that we make together. To finish, we cook, sauce, and eat – just like they do in Italy!</div>"));
      $('#tip-3').tooltipster('content', $("<div style='text-align:center'>Let’s forget tradition and with some unexpected pastas! First, our chef teaches you how to make dough using fresh vegetable juice for the likes of orange, carrot pasta or purple, beet pasta. Then, we’ll make a signature Food Underground dish that not only has coffee in the pasta dough, but is boiled in coffee, too! To finish this savory dish, you’ll learn to caramelize cream, taking the cappuccino out of your mug and onto your plate.</div>"));
      $('#tip-4').tooltipster('content', $("<div style='text-align:center'>Traditional to Middle Eastern and Mediterranean culinary cultures, mezze is a series of small plates that satisfy the soul as much as the stomach. Our chef teaches you to make three dishes that can be served in this style such as hummus, burnt babaganoush, beet tabouleh, amba tahini wings, fish kebabs and yogurt, and so many more. No matter which specific mezze you learn, we’ll also make handmade laffa bread – an absolute necessity.</div>"));
      $('#tip-5').tooltipster('content', $("<div style='text-align:center'>Everyone does it, our chef teaches you how to do it better. In this first part of a series: wings. Though it’s traditional to fry them, our chef shows you how to achieve golden bliss by way of the oven. Then we make scratch BBQ sauce, cause your wings deserve the best. And since it’s best to fry something, we’ll make homemade potato chips. They can be tossed in anything you like, such as vinegar powder, celery salt, or some third option that you tell us about.</div>"));
      $('#tip-6').tooltipster('content', $("<div style='text-align:center'>With appetite whet from the wing appetizer, it’s time to break out the big guns and learn to make some sausage. Utilizing the Kitchen Aid meat grinder, our chef teaches you to season and emulsify in old world style. Then, learn to prepare and stuff natural casing for the most authentic finished product. After we twist links, learn to prepare the sausage on caste iron or grill. Then we’ll make beer mustard that we’ll make into mustard slaw to pair with your sausage. Hero status, there you are.</div>"));
      $('#tip-7').tooltipster('content', $("<div style='text-align:center'>Food Underground takes our ice cream as seriously as it does our pretzels. In this class, we'll knead, roll, boil, and bake our dough to pretzel perfection. Then, we’ll make ice cream base that starts with the best yolks and cream in the land. And, no matter what the flavor you choose – from vanilla or mint chocolate chip to earl grey or whiskey – you have the basics to make them all. So from the conclusion of this class on forward, your life is better. It’s as simple as that.</div>"));
      $('#tip-8').tooltipster('content', $("<div style='text-align:center'>This workshop begins at your grocery store where our chef shows you to navigate the aisles with confidence and select the best ingredients. It’s then off to your kitchen where the bagged bounty will be transformed into that night’s dinner. The menu is conceived on the fly and executed with skillful perfection with attention to efficiency and ease. You finish your meal not just a stronger cook, but a savvier shopper, better able to identify the freshest product that the season has to offer, be it fish, meat, cheese, or produce. This meal - appetizer, entree, side dish, and desert – takes 4 hours (estimated) from start to finish.</div>"));

    });
  </script>
{%  endblock scripts %}