{% extends 'base.html' %}
{% block body %}
<header id="top" class="not-found">
    <div id="header-content" class="text-vertical-center">
        <h2 class="fancy">Oops!</h2>
        <img id="main-logo" style="max-height:250px" class="center-block img-responsive" src="{{ url_for('static', filename='img/logo.png') }}">
        <h2 class="fancy" style="padding:20px 0">Page Not Found</h2>
        <a href="{{ url_for('general.index') }}" class="btn btn-dark btn-lg">Back to Home</a>
    </div>
</header>
{% endblock %}

