<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <title>{{ title or 'Food Underground' }}</title>

    <!-- CSS Global -->
    <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">

    <!-- CSS Plugins -->
    <link href="{{ url_for('static', filename='fonts/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.css') }}" />

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>

    <!-- CSS Custom -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/elements.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />

    {% block styles %}
    {% endblock styles %}

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='css/custom_font.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/flaticon.css') }}" rel="stylesheet" type="text/css">

    {% if config['ROLLBAR_ENVIRONMENT'] == 'production' %}
    <!-- Rollbar -->
    <script>
      var _rollbarConfig = {
        accessToken: "{{ config['ROLLBAR_CLIENT_TOKEN'] }}",
        captureUncaught: true,
        payload: {
            environment: "production"
        }
      };
      !function(r){function o(e){if(t[e])return t[e].exports;var n=t[e]={exports:{},id:e,loaded:!1};return r[e].call(n.exports,n,n.exports,o),n.loaded=!0,n.exports}var t={};return o.m=r,o.c=t,o.p="",o(0)}([function(r,o,t){"use strict";var e=t(1).Rollbar,n=t(2);_rollbarConfig.rollbarJsUrl=_rollbarConfig.rollbarJsUrl||"https://d37gvrvc0wt4s1.cloudfront.net/js/v1.7/rollbar.min.js";var a=e.init(window,_rollbarConfig),i=n(a,_rollbarConfig);a.loadFull(window,document,!_rollbarConfig.async,_rollbarConfig,i)},function(r,o){"use strict";function t(){var r=window.console;r&&"function"==typeof r.log&&r.log.apply(r,arguments)}function e(r,o){return o=o||t,function(){try{return r.apply(this,arguments)}catch(t){o("Rollbar internal error:",t)}}}function n(r,o,t){window._rollbarWrappedError&&(t[4]||(t[4]=window._rollbarWrappedError),t[5]||(t[5]=window._rollbarWrappedError._rollbarContext),window._rollbarWrappedError=null),r.uncaughtError.apply(r,t),o&&o.apply(window,t)}function a(r){this.shimId=++p,this.notifier=null,this.parentShim=r,this.logger=t,this._rollbarOldOnError=null}function i(r){var o=a;return e(function(){if(this.notifier)return this.notifier[r].apply(this.notifier,arguments);var t=this,e="scope"===r;e&&(t=new o(this));var n=Array.prototype.slice.call(arguments,0),a={shim:t,method:r,args:n,ts:new Date};return window._rollbarShimQueue.push(a),e?t:void 0})}function l(r,o){if(o.hasOwnProperty&&o.hasOwnProperty("addEventListener")){var t=o.addEventListener;o.addEventListener=function(o,e,n){t.call(this,o,r.wrap(e),n)};var e=o.removeEventListener;o.removeEventListener=function(r,o,t){e.call(this,r,o&&o._wrapped?o._wrapped:o,t)}}}var p=0;a.init=function(r,o){var t=o.globalAlias||"Rollbar";if("object"==typeof r[t])return r[t];r._rollbarShimQueue=[],r._rollbarWrappedError=null,o=o||{};var i=new a;return e(function(){if(i.configure(o),o.captureUncaught){i._rollbarOldOnError=r.onerror,r.onerror=function(){var r=Array.prototype.slice.call(arguments,0);n(i,i._rollbarOldOnError,r)};var e,a,p="EventTarget,Window,Node,ApplicationCache,AudioTrackList,ChannelMergerNode,CryptoOperation,EventSource,FileReader,HTMLUnknownElement,IDBDatabase,IDBRequest,IDBTransaction,KeyOperation,MediaController,MessagePort,ModalWindow,Notification,SVGElementInstance,Screen,TextTrack,TextTrackCue,TextTrackList,WebSocket,WebSocketWorker,Worker,XMLHttpRequest,XMLHttpRequestEventTarget,XMLHttpRequestUpload".split(",");for(e=0;e<p.length;++e)a=p[e],r[a]&&r[a].prototype&&l(i,r[a].prototype)}return r[t]=i,i},i.logger)()},a.prototype.loadFull=function(r,o,t,n,a){var i=function(){var o;if(void 0===r._rollbarPayloadQueue){var t,e,n,i;for(o=new Error("rollbar.js did not load");t=r._rollbarShimQueue.shift();)for(n=t.args,i=0;i<n.length;++i)if(e=n[i],"function"==typeof e){e(o);break}}"function"==typeof a&&a(o)},l=!1,p=o.createElement("script"),u=o.getElementsByTagName("script")[0],s=u.parentNode;p.src=n.rollbarJsUrl,p.async=!t,p.onload=p.onreadystatechange=e(function(){if(!(l||this.readyState&&"loaded"!==this.readyState&&"complete"!==this.readyState)){p.onload=p.onreadystatechange=null;try{s.removeChild(p)}catch(r){}l=!0,i()}},this.logger),s.insertBefore(p,u)},a.prototype.wrap=function(r,o){try{var t;if(t="function"==typeof o?o:function(){return o||{}},"function"!=typeof r)return r;if(r._isWrap)return r;if(!r._wrapped){r._wrapped=function(){try{return r.apply(this,arguments)}catch(o){throw o._rollbarContext=t()||{},o._rollbarContext._wrappedSource=r.toString(),window._rollbarWrappedError=o,o}},r._wrapped._isWrap=!0;for(var e in r)r.hasOwnProperty(e)&&(r._wrapped[e]=r[e])}return r._wrapped}catch(n){return r}};for(var u="log,debug,info,warn,warning,error,critical,global,configure,scope,uncaughtError".split(","),s=0;s<u.length;++s)a.prototype[u[s]]=i(u[s]);r.exports={Rollbar:a,_rollbarWindowOnError:n}},function(r,o){"use strict";r.exports=function(r,o){return function(t){if(!t&&!window._rollbarInitialized){var e=window.RollbarNotifier,n=o||{},a=n.globalAlias||"Rollbar",i=window.Rollbar.init(n,r);i._processShimQueue(window._rollbarShimQueue||[]),window[a]=i,window._rollbarInitialized=!0,e.processPayloads()}}}}]);
    </script>
    {% endif %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% if not ignore_analytics %}
      <!-- Google Analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-57191221-1', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

  </head>

  <body>

    <!-- Navbar
    ============= -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('general.index') }}"><i class="icon-fu-logo-symbolonly"></i> Food Underground</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="hidden-sm hidden-md"><a href="{{ url_for('events.list_events') }}">Events</a></li>
            <li class="hidden-sm hidden-md"><a href="{{ url_for('gallery.view_gallery') }}">Gallery</a></li>
            <li class="hidden-sm hidden-md"><a href="{{ url_for('general.services') }}">Services</a></li>
            <li class="hidden-sm hidden-md"><a href="{{ url_for('general.team') }}">Team</a></li>
            <li class="hidden-sm hidden-md"><a href="{{ url_for('general.contact') }}">Contact us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right hidden-xs">
          {% if current_user.is_authenticated() %}
            <li id="cogs-menu">
              <a href="{{ url_for('dash.overview') }}">
                <i class="fa fa-gears fa-lg"></i>
              </a>
            </li>
          {% endif %}
            <li id="subscribe">
              <a href="#" id="subscribe-btn">Subscribe to Mailing List</a>

              <form id="subscribe-form" class="form" role="form">
                <div class="subscribe-box hidden" id="subscribe-box">
                  <div class="input-group">
                    <input type="email" name="email" class="form-control" id="subscribe-email" placeholder="youremail@whatever.com">
                    <span class="input-group-btn">
                      <button id="subscribe-submit" class="btn btn-default" type="submit">Submit</button>
                    </span>
                  </div>
                </div>
              </form>
            </li>
          </ul>

        </div>
      </div>
    </div>

    {% block content %}
    {% endblock content %}

    <!-- Foooter
    ================== -->
    <footer>
      <div class="container">
        <div class="row">
          <!-- Contact Us
          =================  -->
          <div class="col-sm-4">
            <div class="headline"><h3>Contact us</h3></div>
            <div class="content">
              <p>
              Phone: (267) 713-2662<br />
              Email: <a href="#">info@foodunderground.net</a>
              </p>
            </div>
          </div>
          <!-- Social icons
          ===================== -->
          <div class="col-sm-4">
            <div class="headline"><h3>Get Social</h3></div>
            <div class="content social">
              <p>Stay in touch with us:</p>
              <ul>
                  <li><a href="http://instagram.com/foodunderground" target="_blank"><i class="fa fa-instagram"></i></a>
                  </li>
                  <li><a href="https://www.facebook.com/FoodUnderground" target="_blank"><i class="fa fa-facebook"></i></a>
                  </li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- Subscribe
          =============== -->
          <div class="col-sm-4">
            <div class="headline"><h3>Payments</h3></div>
            <div class="content">
              <p>Any necessary payments can be made on our <a href="https://venmo.com/?txn=pay&recipients=foodunderground&amount=5&note=A%20tasteful%20blend%20of%20food%20and%20writing&audience=public" target="_blank">Venmo account</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Legal
    ============= -->
    <div class="legal">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>&copy; Food Underground 2015</p>
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript
    ================================================== -->

    <!-- JS Global -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>

    <!-- JS Plugins -->
    <script src="{{ url_for('static', filename='js/scrolltopcontrol.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notify.min.js') }}"></script>

    <!-- JS Custom -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    {% block scripts %}
    {% endblock scripts %}

  </body>
</html>