@font-face {
	font-family: 'logo';
	src:url('../fonts/logo.eot?9v106x');
	src:url('../fonts/logo.eot?#iefix9v106x') format('embedded-opentype'),
		url('../fonts/logo.woff?9v106x') format('woff'),
		url('../fonts/logo.ttf?9v106x') format('truetype'),
		url('../fonts/logo.svg?9v106x#logo') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'logo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fu-logo-symbolonly:before {
	content: "\e600";
}
.icon-fu-logo-withname:before {
	content: "\e601";
}
