@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
    /*font-size: 20px;*/
font-style: normal;
/*margin-left: 20px;*/

}.flaticon-baked2:before {
	content: "\e000";
}
.flaticon-birthday10:before {
	content: "\e001";
}
.flaticon-bottle63:before {
	content: "\e002";
}
.flaticon-branch5:before {
	content: "\e003";
}
.flaticon-bread14:before {
	content: "\e004";
}
.flaticon-breakfast31:before {
	content: "\e005";
}
.flaticon-broccoli:before {
	content: "\e006";
}
.flaticon-cheese14:before {
	content: "\e007";
}
.flaticon-chicken7:before {
	content: "\e008";
}
.flaticon-chilis:before {
	content: "\e009";
}
.flaticon-cocktail32:before {
	content: "\e00a";
}
.flaticon-cocktails1:before {
	content: "\e00b";
}
.flaticon-coffee20:before {
	content: "\e00c";
}
.flaticon-condiment2:before {
	content: "\e00d";
}
.flaticon-cook4:before {
	content: "\e00e";
}
.flaticon-cooking37:before {
	content: "\e00f";
}
.flaticon-corn3:before {
	content: "\e010";
}
.flaticon-cutlery22:before {
	content: "\e011";
}
.flaticon-cutlery33:before {
	content: "\e012";
}
.flaticon-drinks58:before {
	content: "\e013";
}
.flaticon-fastfood1:before {
	content: "\e014";
}
.flaticon-fastfood14:before {
	content: "\e015";
}
.flaticon-fish52:before {
	content: "\e016";
}
.flaticon-fried8:before {
	content: "\e017";
}
.flaticon-fruit164:before {
	content: "\e018";
}
.flaticon-fruit42:before {
	content: "\e019";
}
.flaticon-fruit69:before {
	content: "\e01a";
}
.flaticon-fruit72:before {
	content: "\e01b";
}
.flaticon-glass15:before {
	content: "\e01c";
}
.flaticon-glass35:before {
	content: "\e01d";
}
.flaticon-icecreams14:before {
	content: "\e01e";
}
.flaticon-italian-food:before {
	content: "\e01f";
}
.flaticon-jam2:before {
	content: "\e020";
}
.flaticon-meat45:before {
	content: "\e021";
}
.flaticon-mexican10:before {
	content: "\e022";
}
.flaticon-proteins2:before {
	content: "\e023";
}
.flaticon-salad:before {
	content: "\e024";
}
.flaticon-spaghetti1:before {
	content: "\e025";
}
.flaticon-spaghetti3:before {
	content: "\e026";
}
.flaticon-sprig2:before {
	content: "\e027";
}
.flaticon-steak:before {
	content: "\e028";
}
.flaticon-sweet134:before {
	content: "\e029";
}
.flaticon-sweet9:before {
	content: "\e02a";
}
.flaticon-syrup2:before {
	content: "\e02b";
}
.flaticon-toasted:before {
	content: "\e02c";
}
.flaticon-turkey7:before {
	content: "\e02d";
}
.flaticon-vegetable56:before {
	content: "\e02e";
}
.flaticon-vegetable57:before {
	content: "\e02f";
}
.flaticon-vegetables4:before {
	content: "\e030";
}
.flaticon-wine47:before {
	content: "\e031";
}
