{% extends 'main_base.html' %}
{% set ignore_analytics = True %}

{% block content %}
<div class="wrapper">
  <!-- Page tip -->
  <div class="page-tip animated slideInDown">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p>Please sign in before you proceed. If you are not a admin, <a href="{{ url_for('general.index') }}">return to the main site</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <h3 class="hl top-zero">Sign in to foodunderground.net</h3>
        <hr>
        <p>Configure special events, menus and images.</p>
        <div class="clearfix"></div>
      </div>
      <!-- Login Box -->
      <div class="col-md-4 col-sm-6">
        <div class="form-box">
          <h4>Sign In</h4>
          <hr>
          <form role="form" method="POST">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail1">Email address</label>
              <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword1">Password</label>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="checkbox">
              <label>
                <input name="remember" type="checkbox"> Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-green">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

