{% macro pagination(pages, list_endpoint) %}
  <ul class="pagination pull-right">
    <li class="{{ 'disabled' if not pages.has_prev else '' }}">
      <a {% if pages.has_prev %} href="{{ url_for(list_endpoint, page=pages.prev_num) }}" {% endif %}>&laquo;</a>
    </li>

    {%- for page in pages.iter_pages(left_edge=1, right_current=3, right_edge=1) %}
      {% if page %}
        {% if page != pages.page %}
          <li><a href="{{ url_for(list_endpoint, page=page) }}" >{{ page }}</a></li>
        {% else %}
          <li class="disabled"><a>{{ page }}</a></li>
        {% endif %}
      {% else %}
        <li></a><span class="ellipsis">…</span></a></li>
      {% endif %}
    {%- endfor %}

    <li class="{{ 'disabled' if not pages.has_next else '' }}">
      <a {% if pages.has_next %} href="{{ url_for(list_endpoint, page=pages.next_num) }}" {% endif %}>&raquo;</a>
    </li>
  </ul>
{% endmacro %}