{% extends 'main_base.html' %}
{% block content %}
<div class="wrapper">
  <div class="not-found">
    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <h1>Thank You!</h1>
          <h2>We appreciate your feedback and will get back to you as quickly as possible.</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="about-btn">
            <a class="btn btn-default" href="{{ url_for('general.index') }}">Home</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
