{% extends 'dash/base.html' %}

{% set dash_title = 'Add Image' %}
{% set dash_menu = 'images' %}

{% block dash_content %}
<div class="col-sm-8 col-md-6">
  <h3 class="hl">Upload images</h3>
  <hr>
    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <input id="add-file-input" type="file" name="file" class="hide" multiple>
            <span id="add-file-button" class="btn btn-success fileinput-button">
                <i class="fa fa-plus"></i>
                <span>Add Files</span>
            </span>
            <button type="submit" class="btn btn-info" disabled>
                <i class="fa fa-upload"></i>
                <span>Upload</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
                <i class="fa fa-ban"></i>
                <span>Cancel upload</span>
            </button>
            <button type="button" class="btn btn-danger delete" disabled>
                <i class="fa fa-trash"></i>
                <span>Delete</span>
            </button>
            <input type="checkbox" class="toggle">

            <!-- The table listing the files available for upload/download -->
            <table role="presentation" class="table table-striped" style="margin-top:15px"><tbody class="files"></tbody></table>
        </div>
    </form>
</div>

{% raw %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <input class="name" type="text" name="file-name" value="{%=file.name%}" />
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-info start" disabled>
                    <i class="fa fa-upload"></i>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="fa fa-ban"></i>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="fa fa-trash"></i>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="fa fa-ban"></i>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
{% endraw %}

{% endblock dash_content %}

{% block scripts %}
  <!-- The Templates plugin is included to render the upload/download listings -->
  <script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
  <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
  <script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
  <!-- The Canvas to Blob plugin is included for image resizing functionality -->
  <script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>

  <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
  <script src="{{ url_for('static', filename='js/vendor/jquery.ui.widget.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fileupload-process.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fileupload-image.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fileupload-validate.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fileupload-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main_fileupload.js') }}"></script>
{% endblock scripts %}

