{% extends 'dash/base.html' %}

{% set dash_title = 'Add Event' %}
{% set dash_menu = 'events' %}

{% block styles %}
<link href="{{ url_for('static', filename='css/bootstrap/bootstrap-datepicker.min.css') }}" rel="stylesheet">
{% endblock styles %}

{% block dash_content %}
<div class="col-sm-8 col-md-6">
  <h3 class="hl">Add a new event</h3>
  <hr>
  <form role="form" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      <label for="name">Event name *</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name of event">
    </div>

    <div class="form-group">
      <label for="event_type">Event Type *</label>
      <select class="form-control" id="event_type" name="event_type">
        {% for event_type in form.event_type.iter_choices() %}
          <option value="{{ event_type[0] }}" {{ 'selected' if event_type[2] else '' }}>{{ event_type[1] }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="description">Description *</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="Brief description of the event">
    </div>

      <div class="form-group">
      {{ form.location.label }}
      {{ form.location(class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.date.label }} *
      {{ form.date(class='form-control') }}
    </div>

    <div class="form-group">
      <label for="image_id">Cover Image *</label>
      <select class="form-control" id="image_id" name="image_id">
        {% for image in form.image_id.iter_choices() %}
          <option value="{{ image[0] }}" {{ 'selected' if image[2] else '' }}>{{ image[1] }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="menu">Menu</label>
      <select class="form-control" id="menu_id" name="menu_id">
        <option value="" selected="selected">No associated menu</option>
        {% for menu in menus %}
          <option value="{{ menu.id }}">{{ menu.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      {{ form.bpt_id.label }}
      {{ form.bpt_id(class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.public.label }}
      {{ form.public() }}
    </div>

    <div class="form-group">
      {{ form.active.label }}
      {{ form.active() }}
    </div>

    <button type="submit" class="btn btn-green pull-right">Submit</button>
    <p class="pull-right" style="margin-right:10px">* Required</p>
    <div class="clearfix"></div>
  </form>
</div>
{% endblock dash_content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/bootstrap/bootstrap-datepicker.min.js') }}"></script>

<script type="text/javascript">
  $('#date').datepicker({});
</script>
{% endblock scripts %}

