{% extends 'main_base.html' %}
{% set ignore_analytics = True %}

{% block content %}
<div class="wrapper">
  <div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- Remove the .animated class if you don't want things to move -->
          <h1 class="animated slideInLeft"><span>{{ dash_title or 'Admin Dashboard' }}</span></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- Profile Menu -->
      <div class="col-sm-4 col-md-3">
        <div class="user-menu bottom-15">
          <ul>
            <li>
              <a href="{{ url_for('.overview') }}" class="{{ 'active' if dash_menu == 'overview' else '' }}">
                <i class="sign fa fa-area-chart bg-primary"></i> Overview <i class="fa fa-chevron-right pull-right"></i>
              </a>
            </li>
            <li>
              <a href="{{ url_for('.list_images') }}" class="{{ 'active' if dash_menu == 'images' else '' }}">
                <i class="sign fa fa-file-image-o bg-primary"></i> Images <i class="fa fa-chevron-right pull-right"></i>
              </a>
            </li>
            <li>
              <a href="{{ url_for('.list_events') }}" class="{{ 'active' if dash_menu == 'events' else '' }}">
                <i class="sign fa fa-beer bg-primary"></i> Events <i class="fa fa-chevron-right pull-right"></i>
              </a>
            </li>
            <li>
              <a href="{{ url_for('.list_menus') }}" class="{{ 'active' if dash_menu == 'menus' else '' }}">
                <i class="sign fa fa-edit bg-primary"></i> Menus <i class="fa fa-chevron-right pull-right"></i>
              </a>
            </li>
            <li>
              <a href="{{ url_for('.issues') }}" class="{{ 'active' if dash_menu == 'issues' else '' }}">
                <i class="sign fa fa-code bg-primary"></i> Issues <i class="fa fa-chevron-right pull-right"></i>
              </a>
            </li>
            <li>
              <a href="{{ url_for('admin.logout') }}">
                <i class="sign fa fa-sign-out bg-primary"></i> Sign Out <i class="fa fa-chevron-right pull-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      {% block dash_content %}{% endblock dash_content %}
    </div>
  </div>
</div>
{% endblock %}
