{% extends 'dash/base.html' %}

{% set dash_title = 'Edit Menu' %}
{% set dash_menu = 'menus' %}

{% block dash_content %}
<div class="col-sm-8 col-md-6">

  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ 'danger' if message[0] == 'error' else 'success' }}">{{ message[1] }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <h3 class="hl">Edit {{ menu.name }} <small>Added: {{ menu.created_at.strftime('%b %d') }}</small></h3>
  <hr>
  {% if menu.cover_image %}
    <img style="width:100%;border:1px solid #000;" src="{{ menu.cover_image.path }}" alt="{{ menu.cover_image.name }}">
  {% endif %}
  <form role="form" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class='form-control') }}
    </div>
    <div class="form-group">
      <label for="event">Event</label>
      <select class="form-control" id="event" name="event_id">
        <option value="">No Associated Event</option>
        {% for event in form.event_id.iter_choices() %}
          <option value="{{ event[0] }}" {{ 'selected' if event[2] else '' }}>{{ event[1] }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-green pull-right">Save</button>
    <button class="btn btn-red pull-right" style="margin-right:10px">Remove</button>
    <div class="clearfix"></div>
  </form>
</div>
{% endblock dash_content %}
