{% extends 'dash/base.html' %}

{% set dash_title = 'Edit Image' %}
{% set dash_menu = 'images' %}

{% block dash_content %}
<div class="col-sm-8 col-md-6">

  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ 'danger' if message[0] == 'error' else 'success' }}">{{ message[1] }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <h3 class="hl">Edit {{ image.name }} <small>Added: {{ image.created_at.strftime('%b %d') }}</small></h3>
  <hr>
  <img style="width:100%;border:1px solid #000;" src="{{ image.path }}" alt="{{ image.name }}">
  <h4 class="hl bottom-15">General Information</h4>
  <form role="form" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class='form-control') }}
    </div>
    <div class="form-group">
      {{ form.description.label }}
      {{ form.description(class='form-control') }}
    </div>
    <div class="form-group">
      <label for="event">Event</label>
      <select class="form-control" id="event" name="event_id">
        <option value="">No Associated Event</option>
        {% for event in form.event_id.iter_choices() %}
          <option value="{{ event[0] }}" {{ 'selected' if event[2] else '' }}>{{ event[1] }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="menu">Menu</label>
      <select class="form-control" id="menu" name="menu_id">
        <option value="">No Associated Menu</option>
        {% for menu in form.menu_id.iter_choices() %}
          <option value="{{ menu[0] }}" {{ 'selected' if menu[2] else '' }}>{{ menu[1] }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-green pull-right">Save</button>
  </form>
  <form id="archive-form" method="POST" action="{{ url_for('dash.remove_image', image_id=image.id) }}">
    <button type="submit" class="archive btn btn-red pull-right" style="margin-right:10px">Remove</button>
    <div class="clearfix"></div>
  </form>
</div>
{% endblock dash_content %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap/bootbox.min.js') }}"></script>
  <script>
    $(document).on('click', '.archive', function(e) {
        bootbox.confirm('Are you sure you want to remove this image?', function(result) {
          if (result) {
            $('#archive-form').submit();
          }
        });
        return false;
    });
  </script>
{% endblock scripts %}