{% extends 'dash/base.html' %}

{% set dash_title = 'Edit Event' %}
{% set dash_menu = 'events' %}

{% block dash_content %}
<div class="col-sm-8 col-md-6">

  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ 'danger' if message[0] == 'error' else 'success' }}">{{ message[1] }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <h3 class="hl">{{ event.name }}</h3>
  <hr>
  <img style="width:100%;border:1px solid #000;" src="{{ event.cover_image.path }}" alt="{{ event.cover_image.name }}">
  <hr>
  <form role="form" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      <label for="event-name">Event name</label>
      <input type="text" class="form-control" name="name" id="event-name" value="{{ event.name }}">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" name="description" id="description" value="{{ event.description }}">
    </div>

    <div class="form-group">
      {{ form.location.label }}
      {{ form.location(class='form-control') }}
    </div>

    <div class="form-group">
      <label for="date">Date</label>
      <input type="text" class="form-control" id="date" value="{{ event.date }}">
    </div>

    <div class="form-group">
      <label for="event_type">Event Type</label>
      <select class="form-control" id="event_type" name="event_type">
        {% for event_type in form.event_type.iter_choices() %}
          <option value="{{ event_type[0] }}" {{ 'selected' if event_type[2] else '' }}>{{ event_type[1] }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="image">Cover Image</label>
      <select class="form-control" id="image" name="image_id">
        {% for image in form.image_id.iter_choices() %}
          <option value="{{ image[0] }}" {{ 'selected' if image[2] else '' }}>{{ image[1] }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="menu">Menu</label>
      <select class="form-control" id="menu" name="menu_id">
        <option value="" selected="selected">No Associated Menu</option>
        {% for menu in menus %}
          <option value="{{ menu.id }}">{{ menu.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      {{ form.bpt_id.label }}
      {{ form.bpt_id(class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.public.label }}
      {{ form.public() }}
    </div>

    <div class="form-group">
      {{ form.active.label }}
      {{ form.active() }}
    </div>

    <button type="submit" class="btn btn-green pull-right">Save</button>
  </form>
  <form id="archive-form" method="POST" action="{{ url_for('dash.archive_event', event_id=event.id) }}">
    <button type="submit" class="archive btn btn-red pull-right" style="margin-right:10px">Archive</button>
    <div class="clearfix"></div>
  </form>
</div>
{% endblock dash_content %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap/bootbox.min.js') }}"></script>
  <script>
    $(document).on('click', '.archive', function(e) {
        bootbox.confirm('Are you sure you want to archive this event? All associated pictures will be unlinked from this event.', function(result) {
          if (result) {
            $('#archive-form').submit();
          }
        });
        return false;
    });
  </script>
{% endblock scripts %}