{% extends 'dash/base.html' %}

{% import 'macros/_utils.html' as utils %}

{% set dash_title = 'Edit Events' %}
{% set dash_menu = 'events' %}

{% block dash_content %}
<div class="col-sm-8 col-md-7">
  <!-- List of recent dialogs -->
  <div class="pm-search">
    <form role="form">
      <div class="row">
        <div class="col-sm-12 col-md-10">
          <div class="input-group">
            <label class="sr-only" for="pm-search">Event Search</label>
            <input type="text" name="search" class="form-control" id="pm-search" placeholder="{{ search_query or 'Search for an event...' }}">
            <span class="input-group-btn">
              <input type="submit" class="btn btn-dark" value="Search">
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <ul class="text-muted list-inline">
    <li>{{ events.total }} total events</li>
  </ul>
  <div class="pm-list">
    <ul>
      {% for event in events.items %}
      <li>
        <p class="text-muted">
          <img src="{{ event.cover_image.path }}" alt="{{ event.cover_image.name }}">
            <a href="{{ url_for('.edit_event', event_id=event.id) }}">{{ event.name }}</a><br />
            <small>{{ event.date }}</small>
        </p>
        <p class="text-muted">
          <a href="inbox-dialog.html" class="inbox-dialog">{{ event.description|truncate(55) }}</a>
        </p>
        <div class="clearfix"></div>
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- Pagination -->
  {{ utils.pagination(events, '.list_events') }}

</div>
{% endblock dash_content %}

