{% extends 'dash/base.html' %}

{% set dash_title = 'Report Issue' %}
{% set dash_menu = 'issues' %}

{% block dash_content %}
<div class="col-sm-8 col-md-6">

  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ 'danger' if message[0] == 'error' else 'success' }}">{{ message[1] }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <h3 class="hl">Report A Site Issue</h3>
  <hr>
  <form role="form" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.title.label }}
      {{ form.title(class='form-control') }}
    </div>
    <div class="form-group">
      {{ form.description.label }}
      {{ form.description(class='form-control') }}
    </div>
    <div class="form-group">
      {{ form.priority.label }}
      {{ form.priority(class='form-control') }}
    </div>
    <div class="form-group">
      {{ form.kind.label }}
      {{ form.kind(class='form-control') }}
    </div>
    <button type="submit" class="btn btn-green pull-right">Post</button>
    <div class="clearfix"></div>
  </form>
</div>
{% endblock dash_content %}
