{% extends 'dash/base.html' %}

{% import 'macros/_utils.html' as utils %}

{% set dash_title = 'Search Images' %}
{% set dash_menu = 'images' %}

{% block dash_content %}
<div class="col-sm-8 col-md-7">
  <!-- List of recent dialogs -->
  <div class="pm-search">
    <form role="form">
      <div class="row">
        <div class="col-sm-12 col-md-10">
          <div class="input-group">
            <label class="sr-only" for="pm-search">Images</label>
            <input type="text" name="search" class="form-control" id="pm-search" placeholder="{{ search_query or 'Search for an image...' }}">
            <span class="input-group-btn">
              <input type="submit" class="btn btn-dark" value="Search" />
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <ul class="text-muted list-inline">
    <li>{{ images.total }} total images</li>
  </ul>
  <div class="pm-list">
    <ul>
      {% for image in images.items %}
      <li>
        <p class="text-muted">
          <img src="{{ image.path }}" alt="{{ image.name }}">
            <a href="{{ url_for('.edit_image', image_id=image.id) }}">{{ image.name }}</a>
        </p>
        <p class="text-muted">{{ image.description }}</p>
        <div class="clearfix"></div>
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- Pagination -->
  {{ utils.pagination(images, '.list_images') }}

</div>
{% endblock dash_content %}

