{% extends 'dash/base.html' %}

{% set dash_title = 'Search Menus' %}
{% set dash_menu = 'menus' %}

{% block dash_content %}
<div class="col-sm-8 col-md-7">
  <!-- List of recent dialogs -->
  <div class="pm-search">
    <form role="form">
      <div class="row">
        <div class="col-sm-12 col-md-10">
          <div class="input-group">
            <label class="sr-only" for="pm-search">Menus</label>
            <input type="text" class="form-control" id="pm-search" placeholder="Search for a menu...">
            <span class="input-group-btn">
              <button type="button" class="btn btn-dark">Search</button>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <ul class="text-muted list-inline">
    <li>{{ menus|length }} total menus</li>
  </ul>
  <div class="pm-list">
    <ul>
      {% for menu in menus %}
      <li>
        <p class="text-muted">
          <img src="{{ menu.cover_image.path }}" alt="{{ menu.cover_image.name }}">
            <a href="{{ url_for('.edit_menu', menu_id=menu.id) }}">{{ menu.name }}</a><br />
            <small>{{ menu.event.name }} - {{ menu.event.format_date() }}</small>
        </p>
        <p class="text-muted">{{ menu.name }}</p>
        <div class="clearfix"></div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- Pagination -->
  <ul class="pagination pull-right">
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>
{% endblock dash_content %}
