{% extends 'dash/base.html' %}

{% set dash_menu = 'overview' %}

{% block dash_content %}
  <div class="col-sm-8 col-md-6">
    <div class="row">
      <!-- Main profile info -->
      <div class="col-sm-12">
        <h3 class="hl">{{ current_user.full_name }} <small>Administrator</small></h3>
        <hr>
        <!-- User status update form -->
        <div class="user-status">
          <form class="hidden" role="form">
            <div class="row">
              <div class="col-sm-10">
                <div class="input-group">
                  <input type="text" class="form-control input-sm" id="status" placeholder="Update your status">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-sm btn-default">Save</button>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="bottom-15">
          <a href="{{ url_for('.add_event') }}" class="btn btn-green btn-sm">Add Event</a>
          <a href="{{ url_for('.add_image') }}" class="btn btn-green btn-sm">Upload Image</a>
          <a href="{{ url_for('.add_menu') }}" class="btn btn-green btn-sm">Add Menu</a>
        </div>
      </div>
    </div>
    <!-- Google analytics feed -->
    <div class="row">
      <div class="col-sm-12">
        <h4 class="hl"><i class="fa fa-info-circle"></i> Google Analytics</h4>
          <div id="analytics-chart-sessions"></div>
          <div id="analytics-chart-pages"></div>
        <hr>
      </div>
    </div>
    <!-- Mailchimp feed -->
    <div class="row">
      <div class="col-sm-12">
        <h4 class="hl"><i class="fa fa-user"></i> Email Subscribers</h4>
        <p class="bottom-15">Add list of subscribers here from MailChimp API, with the ability to add first/last name.</p>
        <hr>
      </div>
    </div>
    <!-- Disqus feed-->
    <div class="row">
      <div class="col-sm-12">
        <h4 class="hl"><i class="fa fa-map-marker"></i> Interactions</h4>
        <p class="bottom-15">Integrate with Disqus API to show new comments, which events have the most comments, and which users are the most active.</p>
        <hr>
      </div>
    </div>
  </div>
  <!-- Stats and Galery -->
  <div class="col-sm-8 col-sm-offset-4 col-md-3 col-md-offset-0">
    <div class="block-inverse">
      <div class="head-inverse">
        <div class="text-center">
          <strong class="text-muted">Users This Week</strong>
          <h1 id="users" class="text-center text-green"></h1>
        </div>
      </div>
      <div class="body-inverse">
        <p class="text-center">
          <strong class="text-muted">Services</strong>
        </p>
        <ul>
          <li><a href="email.foodunderground.net">Email</a></li>
          <li><a href="http://www.google.com/analytics/">Google Analytics</a></li>
          <li><a href="https://disqus.com/">Disqus</a></li>
          <li><a href="http://mailchimp.com/">MailChimp</a></li>
          <li><a href="https://mandrillapp.com/">Mandrill</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock dash_content %}

{% block scripts %}
  <script>
  (function(w,d,s,g,js,fs){
    g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
    js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
    js.src='https://apis.google.com/js/platform.js';
    fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
  }(window,document,'script'));
  </script>

  <script>

  gapi.analytics.ready(function() {

    gapi.analytics.auth.authorize({
      'serverAuth': {
        'access_token': '{{ ga_service_token }}'
      }
    });

    var ga_id = 'ga:94489119';
    // Sessions and pageviews last 30 days
    var dataChart1 = new gapi.analytics.googleCharts.DataChart({
      query: {
        'ids': ga_id,
        'start-date': '30daysAgo',
        'end-date': 'yesterday',
        'metrics': 'ga:sessions,ga:users',
        'dimensions': 'ga:date'
      },
      chart: {
        'container': 'analytics-chart-sessions',
        'type': 'LINE',
        'options': {
          'width': '100%'
        }
      }
    });
    dataChart1.execute();

    // top 5 most popular pages last 30 days
    var dataChart2 = new gapi.analytics.googleCharts.DataChart({
      query: {
        'ids': ga_id,
        'start-date': '30daysAgo',
        'end-date': 'yesterday',
        'metrics': 'ga:pageviews',
        'dimensions': 'ga:pagePathLevel1',
        'sort': '-ga:pageviews',
        'filters': 'ga:pagePathLevel1!=/',
        'max-results': 7
      },
      chart: {
        'container': 'analytics-chart-pages',
        'type': 'PIE',
        'options': {
          'width': '100%',
          'pieHole': 4/9,
        }
      }
    });
    dataChart2.execute();

    gapi.client.analytics.data.ga.get({
        'ids': ga_id,
        'start-date': '7daysAgo',
        'end-date': 'today',
        'metrics': 'ga:sessions'
    })
    .then(function(response) {
        $('#users').html(response.result.totalsForAllResults['ga:sessions']);
    })
    .then(null, function(err) {
        $('#users').html('Error :(');
    });

  });
  </script>
{% endblock scripts %}
